hr {
	color: sienna
}

p {
	margin-left: 20px
}

body {
	color: black;
	background-color: #72AFA6; /* Lean Minds
/*		background-color: #E8F2FC; /* Books
		background-repeat:no-repeat;
/*		background-image:url("../images/Aquadeo Beach 2008 Faded2.JPG"); */

	color: blue;
}